{% render 'partials/head.liquid' %}
{% include 'partials/nav.liquid' %}

<header class="hero">
    <img src="/assets/bib-hero2.png" alt="">
    <h1>Stekjes</h1>
<a href="#intro" class="scroll-down">▼</a>
</header>

<main>   
 <section class="intro" id="intro">
    <div>
        <h2>Hoe werkt het?</h2>
        <p>
            Bij Buurtcampus Oost kun je de stekjeskast bezoeken om stekjes te ruilen. 
            Je kunt ook op onze website inzien welke stekjes beschikbaar zijn. 
            Dit is een geweldige manier voor plantenliefhebbers om met elkaar in contact te komen en planten te delen.
            Het maakt het gemakkelijk om je favoriete stekjes te vinden en te ruilen met anderen in de buurt, zonder gedoe.
            Kom langs bij Buurtcampus Oost en ontmoet mede-plantenliefhebbers!
        </p>
        <a href="#stekjes" class="button">Bekijk stekjes</a>
    </div>

    <ul class="carousel-container">
        {% comment %} For loop om te itereren door de stekjeskast afbeeldingen data {% endcomment %}
        {% for afbeelding in afbeeldingen %}
            <li class="carousel-item">
                <figure>
                    <img src="https://fdnd-agency.directus.app/assets/{{ afbeelding.foto }}" alt="Stekjeskast afbeelding">
                </figure>
            </li>
            {% endfor %}
    </ul>
 </section>

 <section class="stekjes-section" id="stekjes">
    <h2>Beschikbare stekjes</h2>
  
    <ul class="stekjes-carousel">
      {% for stekje in stekjes %}
        <li class="stekje-card">
            <img src="https://fdnd-agency.directus.app/assets/{{ stekje.foto }}" alt="{{ stekje.naam }}">
            <h3>{{ stekje.naam }}</h3>
            <a href="/stekje/{{ stekje.id }}" class="button">Meer informatie</a>
        </li>
      {% endfor %}
    </ul>
  
    <!-- Carousel buttons (alleen zichtbaar met JS) -->
    <nav aria-label="Carrousel navigatie" class="carousel-nav" hidden>
      <button id="prev" aria-label="Vorige stekje">❮</button>
      <button id="next" aria-label="Volgende stekje">❯</button>
    </nav>
  </section>
  
</main>
{% render 'partials/foot.liquid' %}